APP_ENV=production
APP_URL=https://mariangopri.ct.ws

DB_HOST=localhost
DB_NAME=mariango_school
DB_USER=root
DB_PASS=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=festuskatana087@gmail.com
SMTP_PASSWORD=ivknbnhkncytjdig
SMTP_FROM_EMAIL=festuskatana087@gmail.com

MPESA_ENVIRONMENT=production
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=

BANK_API_ENDPOINT=
BANK_API_KEY=
BANK_API_SECRET=
BANK_API_MODE=production

INVENTORY_MPESA_PAYOUT_MODE=production
